<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_Name" property="productName" jdbcType="VARCHAR" />
    <result column="rate" property="rate"  />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="identifying" property="identifying" jdbcType="VARCHAR" />
    <result column="sum_money" property="sumMoney" />
    <result column="balance" property="balance"  />
    <result column="min_money" property="minMoney"  />
    <result column="max_money" property="maxMoney"  />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.bdqn.domain.Product" extends="BaseResultMap" >
    <result column="describe" property="describe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_Name, rate, period, publish_time, `type`, identifying, sum_money, balance,
    min_money, max_money, state, finish_time
  </sql>
  <sql id="Blob_Column_List" >
    `describe`
  </sql>
<!--    根据类型id查询-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from t_product
        <where>
          <if test="type != null">
            `type` = #{type,jdbcType=INTEGER}
          </if>
        </where>
    </select>

<!--    根据主键id查询-->
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--    根据id删除信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--    插入全部-->
  <insert id="insert" parameterType="cn.bdqn.domain.Product" >
    insert into t_product (id, product_Name, rate,
      period, publish_time, `type`,
      identifying, sum_money, balance,
      min_money, max_money, state,
      finish_time, `describe`)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{rate},
      #{period,jdbcType=INTEGER}, #{publishTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER},
      #{identifying,jdbcType=VARCHAR}, #{sumMoney}, #{balance },
      #{minMoney }, #{maxMoney }, #{state,jdbcType=INTEGER},
      #{finishTime,jdbcType=TIMESTAMP}, #{describe,jdbcType=LONGVARCHAR})
  </insert>
<!--    选择性插入-->
  <insert id="insertSelective" parameterType="cn.bdqn.domain.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productName != null" >
        product_Name,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="identifying != null" >
        identifying,
      </if>
      <if test="sumMoney != null" >
        sum_money,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="minMoney != null" >
        min_money,
      </if>
      <if test="maxMoney != null" >
        max_money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="describe != null" >
        `describe`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate },
      </if>
      <if test="period != null" >
        #{period,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="identifying != null" >
        #{identifying,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        #{sumMoney },
      </if>
      <if test="balance != null" >
        #{balance },
      </if>
      <if test="minMoney != null" >
        #{minMoney },
      </if>
      <if test="maxMoney != null" >
        #{maxMoney },
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

<!--    选择性更新-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Product" >
    update t_product
    <set >
      <if test="productName != null" >
        product_Name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="identifying != null" >
        identifying = #{identifying,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        sum_money = #{sumMoney},
      </if>
      <if test="balance != null" >
        balance = #{balance},
      </if>
      <if test="minMoney != null" >
        min_money = #{minMoney},
      </if>
      <if test="maxMoney != null" >
        max_money = #{maxMoney},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null" >
        `describe` = #{describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--    更新全部-->
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.bdqn.domain.Product" >
    update t_product
    set product_Name = #{productName,jdbcType=VARCHAR},
      rate = #{rate},
      period = #{period,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=INTEGER},
      identifying = #{identifying,jdbcType=VARCHAR},
      sum_money = #{sumMoney},
      balance = #{balance},
      min_money = #{minMoney},
      max_money = #{maxMoney},
      state = #{state,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      `describe` = #{describe,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--    更新全部除描述信息字段不更新-->
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Product" >
    update t_product
    set product_Name = #{productName,jdbcType=VARCHAR},
      rate = #{rate},
      period = #{period,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=INTEGER},
      identifying = #{identifying,jdbcType=VARCHAR},
      sum_money = #{sumMoney},
      balance = #{balance},
      min_money = #{minMoney},
      max_money = #{maxMoney},
      state = #{state,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>