<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.BidMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Bid" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="user_Id" property="userId" jdbcType="INTEGER" />
    <result column="bid_money" property="bidMoney" jdbcType="DOUBLE" />
    <result column="bid_time" property="bidTime" jdbcType="TIMESTAMP" />
    <result column="bid_state" property="bidState" jdbcType="INTEGER" />

  </resultMap>

    <resultMap id="joint" type="cn.bdqn.domain.Storage">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="user_Id" property="userId" jdbcType="INTEGER" />
        <result column="bid_money" property="bidMoney" jdbcType="DOUBLE" />
        <result column="bid_time" property="bidTime" jdbcType="TIMESTAMP" />
        <result column="bid_state" property="bidState" jdbcType="INTEGER" />
        <association property="user" javaType="cn.bdqn.domain.User">
            <id column="userId" property="userId" jdbcType="INTEGER" />
            <result column="user_Phone" property="userPhone" jdbcType="VARCHAR" />
            <result column="user_Pwd" property="userPwd" jdbcType="VARCHAR" />
            <result column="user_Name" property="userName" jdbcType="VARCHAR" />
            <result column="user_Card" property="userCard" jdbcType="VARCHAR" />
            <result column="user_register_time" property="userRegisterTime" jdbcType="TIMESTAMP" />
            <result column="user_login_time" property="userLoginTime" jdbcType="TIMESTAMP" />
            <result column="user_img" property="userImg" jdbcType="VARCHAR" />
        </association>
    </resultMap>

  <sql id="Base_Column_List" >
    id, product_id, user_Id, bid_money, bid_time, bid_state
  </sql>

    <sql id="lianJie">
        b.id, b.product_id, b.user_Id, b.bid_money, b.bid_time, b.bid_state,
        u.user_Id as uUser, u.user_Phone, u.user_Pwd, u.user_Name, u.user_Card, u.user_register_time, u.user_login_time,
        u.user_img
    </sql>

<!--    根据id查询投资记录-->
  <select id="selectByPrimaryKey" resultMap="joint" parameterType="java.lang.Integer" >
    select
    <include refid="lianJie" />
    from t_bid as b,t_user as u
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--    根据用户id查询全部-->
    <select id="selectAll" resultMap="joint">
        select
        <include refid="lianJie" />
        from t_bid as b,t_user as u
        where b.user_Id = u.user_Id and b.user_Id = #{userId}
    </select>

    <!--    根据产品id查询全部-->
    <select id="selectByProductId" resultMap="joint">
        select
        <include refid="lianJie" />
        from t_bid as b,t_user as u
        where b.user_Id = u.user_Id and b.product_id = #{productId}
    </select>

<!--    删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bid
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--    添加-->
  <insert id="insert" parameterType="cn.bdqn.domain.Bid" >
    insert into t_bid (id, product_id, user_Id,
      bid_money, bid_time, bid_state
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{user.userId,jdbcType=INTEGER},
      #{bidMoney,jdbcType=DOUBLE}, #{bidTime,jdbcType=TIMESTAMP}, #{bidState,jdbcType=INTEGER}
      )
  </insert>

<!--    选择性添加-->
  <insert id="insertSelective" parameterType="cn.bdqn.domain.Bid" >
    insert into t_bid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="user.userId != null" >
        user_Id,
      </if>
      <if test="bidMoney != null" >
        bid_money,
      </if>
      <if test="bidTime != null" >
        bid_time,
      </if>
      <if test="bidState != null" >
        bid_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="user.userId != null" >
        #{user.userId,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null" >
        #{bidMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidTime != null" >
        #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidState != null" >
        #{bidState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
<!--    选择性更新-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Bid" >
    update t_bid
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="user.userId != null" >
        user_Id = #{user.userId,jdbcType=INTEGER},
      </if>
      <if test="bidMoney != null" >
        bid_money = #{bidMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidTime != null" >
        bid_time = #{bidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidState != null" >
        bid_state = #{bidState,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--    全部更新-->
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Bid" >
    update t_bid
    set product_id = #{productId,jdbcType=INTEGER},
      user_Id = #{user.userId,jdbcType=INTEGER},
      bid_money = #{bidMoney,jdbcType=DOUBLE},
      bid_time = #{bidTime,jdbcType=TIMESTAMP},
      bid_state = #{bidState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>